@import "../../assets/scss/vars.scss";

.header {
    background-color: $main-color;
    position: sticky;
    backdrop-filter: blur(0.5rem);

    &__body {
        padding: 0.6rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        &-img {
            width: 10rem;
        }
    }
}